<!DOCTYPE html>
<html>

<head>
  <title>Jokes</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>Want a Joke?</h1>

  <!-- Form for joke categories -->
  <form action="/" method="GET">
    <label for="category" style="color: white;">Choose a joke category:</label>
    <select name="category" id="category">
      <option value="Programming">Programming</option>
      <option value="Misc">Misc</option>
      <option value="Pun">Pun</option>
      <option value="Spooky">Spooky</option>
      <option value="Christmas">Christmas</option>
    </select>
    <button type="submit">Get Joke</button>
  </form>
<br><br>

  <!-- Display the joke -->
  <div class="card">
    <% if (joke) { %>
      <p><%= joke %></p>
    <% } else { %>
      <p>Select a category to see a joke!</p>
    <% } %>
  </div>
</body>

</html>